/* BUTTONS */
@mixin transition($time) {
  -webkit-transition: $time;
          transition: $time;
}
@mixin circle($radius) {
     -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
          border-radius: $radius;
}

.orb { 
  width: $r-circle;
  height: $r-circle;
  background-color: $orange;
  @include circle($r-circle / 2);
  line-height: $r-circle;
  font-family: $font;
  display: block;
  margin: auto;
}

.button {
  padding: 5px 25px 5px 25px;
  border-radius: 4px;
  background-color: $orange;
  color: $white;
  text-transform: uppercase;
  font-size: .5em;
  font-family: $font;
  border: none;
  @include transition(box-shadow .25s);
}
.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.options {
  @extend .button;
  margin: 0 auto;
  width: 10rem;
  height: 6rem;
  float: left;
  font-size: 1.3rem;
}
.o-large {
  @extend .options;
  width: 100%;
  margin-top: .7em;
}